

<h1>Details of current store</h1>

<script type="text/javascript">
  window.fbAsyncInit = function() {
    FB.init({appId: '214912208528198', status: true, cookie: true, xfbml: true});
    FB.Event.subscribe('auth.logout', function(response) {
      // do something with response
      check_login_status();
    });

  };
function check_login_status(store_id)
{
   FB.getLoginStatus(function(response) {

         if (response.session) {

            if (response.perms) {

             // logged in and connected user, someone you know
             alert("h");
             window.location.href="/facebookinfo/index?store_id="+ store_id.toString();

            }

            else

            {

                FB.login(function(response) {

             if (response.session) {

               if (response.perms) {

                   window.location.href="/facebookinfo/index?store_id="+ store_id.toString();

                   }

               else {

                   alert("No permission");

                   }

             }else {

                   alert("No Login");

               }

             }, {perms:'read_stream,publish_stream,offline_access'});

            }

         }

         else

         {

             FB.login(function(response) {

             if (response.session) {

               if (response.perms) {

                    window.location.href="/facebookinfo/index?store_id="+ store_id.toString() ;
                   }

               else {

                   alert("No permission");

                   }

             }else {

                   alert("No Login");

               }

             }, {perms:'read_stream,publish_stream,offline_access'});

         }

     });

 } 
  (function() {
                var e = document.createElement('script');
                e.type = 'text/javascript';
                e.src = document.location.protocol +
                    '//connect.facebook.net/en_US/all.js';
                e.async = true;
                document.getElementById('fb-root').appendChild(e);
            }());
  $(document).ready(

  function()
  {
    //alert("<%=  @my_email %>");
    var email_id = "<%=  @my_email %>";
    $('.popup_input_box_email').val(email_id.toString());
    $('.popup_input_box_sms').click(function() {
            check_login_status("<%= @current_store._id %>");
    });
  });
  
</script>



<% if @current_store %>
  Name:
  <%= @current_store.store_name %>
  <br/>City:
  <%= @current_store.city %>
  <br/>Country:
  <%= @current_store.country %>
  <br/>Categories:
  <% for category in @current_store.categories -%>
    <%= category %>
  <% end %>
  <br>Status:
  <% if @current_store.status == 1 %>
    Active
  <% else %>
    InActive
  <% end  %>
  <br/>Address1:
  <%= @current_store.address1 %>
  <br/>Address2:
  <%= @current_store.address2 %>
<% end  %>
<br/><br/>
<%= link_to("Go Back",:action => "relatedstores") -%>
<h3>All active deals of
<%= @current_store.store_name %></h3>
<% if @activedeals_coupons.size != 0 %>

  <%= render :partial => "deals/active", :collection => @activedeals_coupons, :item => :active,
    :locals => {:pagetitle => "Active deal's details"} %>
<% else %>
  Sorry..No Active deals at this time..
<% end %>

<%= will_paginate @activedeals_of_store %>


<h3>All InActive deals of
<%= @current_store.store_name %></h3>
<% if @inactivedeals_coupons.size != 0 %>
  <%= render :partial => "deals/inactive", :collection => @inactivedeals_coupons, :item => :inactive,
    :locals => {:pagetitle => "Inactive deal's details"} %>
<% else %>
  No inactive deals for this store
<% end %>
<%= will_paginate @inactivedeals_of_store %>

