<h1>Deal details#all</h1>

   Deal title : <%= @deal.title%>
   <br/>
   Deal description : <%= @deal.description%>
   <br/>
   Deal end time  :  <%= @deal.end_time %>
   <br/>
    Fine Print  :    <%= @deal.fine_print %>
   <br/>

    FreeToUse:  <%= @coup.FreeToUse%>
    Downloaded: <%= @coup.Downloaded %>
    Redeemed : <%= @coup.Redeemed %>
    Total :  <%= @coup.total %>
    <br/>
    <br/>
    <br/>
<%= link_to("Go Back",:controller => "Stores",:action => "get_store_details",:store_id => @deal.store_id) -%>
